/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .container {
    width: 100%;
    margin-bottom: 50px;
  }
   
  .container h1 {
   font-size: 30px;
   text-align: center;
   padding-right: 30px;
  }

  .container h2 {
   font-size: 15px;
   text-align: center;
   padding-right: 30px;
  }
}
  
/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .container {
    width: 100%;
  }
    .container h1 {
   font-size: 27px;
   text-align: center;
   padding-right: 30px;
  }
  .container h2 {
   font-size: 12px;
   text-align: center;
   padding-right: 30px;
  }
}
