/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css header*/

body{
    font: 16px/28px Lucida ,Monospace;
    background-color: #a0cecb;
    color: rgb(25, 117, 160);
}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;  
}

.header{
    padding: 20px; 
}

.header .judul{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;    
}

.header a{
    text-decoration: none;
    color: salmon;
    padding: auto;
    margin: 60px;
}

.header a:hover{
    background-color: lightskyblue;
    color: firebrick;
}

.image{
    height: 280px;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: 0 -180px;
    border-bottom: 5px solid mediumturquoise;
    border-top: 5px solid #7db1b1;
}
   

/* untuk CSS footer Andri*/

.footer{
    width:770px;
    padding: 15px;
    background: #8d99f0;
    color: #fff;  
}

.menu{
    color: red;
    margin-left:15px;
    font-size: 20px;
    font-weight: bold;   
    text-align: center;
}

.link ul li a{
  color: #46f07e;
  margin-left:10px;
  padding: 5px;
  font-weight: bold;   
  text-align: right;
  text-decoration:none;
}

.social-media ul li a{
  color: #f04646;  
}

.social-media{
float:right;
}

@media screen all and (max-width: 480px) 
{
.social-media {
display:none;
}

.social-media ul{
margin: 0;
padding: 0;
  }
}
.social-media li{
float: left;
display: block;
margin: 15px 0 0 15px;
}
.social-media li a{
color: #4b4b4b;
border: 1px solid #4b4b4b;
padding: 5px 7px;
}
.social-media li a:hover{
color: #ededed;
border: 1px solid #ededed;
}

.fa{
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
text-rendering: auto;
width: 14px;
text-align: center;
} 


/* untuk CSS Teks berjalan footer Andri*/
.marquee {
height: 35px;background-color:#a19eab;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#b8bfc4', endColorstr='#a19eab');
background-image:-webkit-linear-gradient(top, #b8bfc4 0%, #fcfcfc 50%, #a19eab 100%);
background-image:-moz-linear-gradient(top, #b8bfc4 0%, #fcfcfc 50%, #a19eab 100%);
background-image:-ms-linear-gradient(top, #b8bfc4 0%, #fcfcfc 50%, #a19eab 100%);
background-image:-o-linear-gradient(top, #b8bfc4 0%, #fcfcfc 50%, #a19eab 100%);
background-image:linear-gradient(top, #b8bfc4 0%, #fcfcfc 50%, #a19eab 100%);
font-size: 20px;
color: red;
text-shadow: 2px 2px 4px #000;
font-family:Times New Roman;
padding: auto 0px;
}
/* untuk CSS image logo di footer Andri*/
img{
    height: 25px;
    margin-left:15px;   
}
   
