/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css header*/

body{
    font: 16px/28px Lucida ,Monospace;
    background-color: #a0cecb;
    color: rgb(25, 117, 160);
}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;  
}

.header{
    padding: 20px; 
}

.header .judul{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;    
}

.header a{
    text-decoration: none;
    color: salmon;
    padding: auto;
    margin: 60px;
}

.header a:hover{
    background-color: lightskyblue;
    color: firebrick;
}

.image{
    height: 500px;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: 0 -180px;
    border-bottom: 5px solid mediumturquoise;
    border-top: 5px solid #7db1b1;
}
   

/* untuk CSS footer Andri*/
.footer{
    width:770px;
    height: 330px;
    padding: 15px;
    background: #a84c32;
    color: #fff;  
}
  /* mulai footer */
.container1 {
  width: 800px;
  margin: auto;
  background-color: #fff;  
}

.container2 {
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.kiri {
  text-align: left;
}

.sebelahan {
  width: 50%;
  float: left;
}

.judul h1 {
  letter-spacing: 12px;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 30px;
}
.tombol{
  background:#2C97DF;
  color:white;
  border-bottom:5px solid #2A80B9;
  padding:10px 20px;
  text-decoration:none;
  border-radius: 20px;
  text-align: center;
  border-bottom: 20px;
  border-top: 12px;
}
.tombol:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

input, textarea {
  width:380px ;
  margin-top:5px;
  margin-bottom:5px;
  margin-right: 5px;
  padding: 2px 2px 2px 2px;
  font-size: 15px;
  border :1px solid #0a0a0a ;
  text-align: left;
}

.menu{
    color: white;
    margin-left:15px;
    font-size: 22px;
    font-weight: bold;   
    text-align: center;
}

.kiri ul li a{
  color: black;
  margin:10px 10px;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;   
  text-align: right;
  text-decoration:none;
  border :0px solid green ;

}

.kiri ul li a:hover{
background-color: #ada77b;
}

.footer-social-icons {
width: 100%;
height: 1px;
margin-top: 30px;
} 
.footer-social-icons ul {
margin: 0px 10px 10px 10px;
padding: 0px;
text-align: left;
}

/*ling luar*/
.footer-social-icons ul li{
display: inline-block;
width: 30px;
height: 30px;
margin: 0px 10px 10px 10px;
border-radius: 30%;
background: #32CD32;
} 

/*ukuran icon*/
.footer-social-icons ul li a {
color: #272727;
font-size: 15px;
display: block;
} 

/*warna bayang putih*/
.footer-social-icons ul li:hover{
background: #fff;
}

/*posisi icon dalam logo*/
.fa{
text-align: center;
} 

/* untuk CSS Teks berjalan footer Andri*/
.marquee {
height: 0px;
font-size: 20px;
color: black;
text-shadow: 2px 2px 4px white;
font-family:Times New Roman;
}
